/* CHECKBOX FROM MAILCHIMP */


h1, h2, h3, h4, h5{
  color: #383938;
  font-weight: 300;
}


.checkbox-group label:last-child {
    margin-bottom: 12px;
}

input[type="checkbox"] {
    cursor: pointer;
}

.checkbox-group label {
    padding-top: 4px;
    padding-bottom: 0;
    cursor: pointer;
}

.radio, .checkbox {
    max-width: 635px;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-left: 36px;
    text-indent: -36px;

}

.wp-checkbox {
    background-position: 0 0;
}

.wp-checkbox {
    margin-right: 12px;
}

.wp-checkbox, .wp-checkbox-input{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(/landing/img/checkmarks-sprite-2x_interno.png);
    background-size: 24px 384px;
}

.wp-checkbox-inline {
    display: inline-table;
    vertical-align: middle;
}

input:checked + .wp-checkbox{
  background-position: 0 -144px;
}

.wp-checkbox-reset {
    border: 0;
    line-height: unset;
    outline: 0 none;
}

input.wp-checkbox-reset{
    display: none;
}

.wp-checkbox-text{
    margin-top: 10px;
}
/*END SELECT

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.form-control[readonly] { background-color: #fff; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END SWITCH */


/*CARD */

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 4px;
}

.card .card-header {
  position: relative;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .card .card-header:not(.ch-alt) {
    padding: 23px 25px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header:not(.ch-alt) {
    padding: 18px;
  }
}

.card .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .card .card-header.ch-alt {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header.ch-alt {
    padding: 18px 18px 28px;
  }
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
  color: #fff;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.card .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 23px 22px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
    padding: 14px;
  }
}

.card .card-body.card-padding-sm {
  padding: 11px;
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
  padding-top: 0;
}
/* / CARD */


button, .btn {
    border-radius: 3px !important;
}

/* New Landing Style */

::selection { background-color: #6ec058; color: #fff; }

/* Isaudavel Swiper Arrow Default */
.is-swiper-button-default.swiper-button-prev,
.is-swiper-button-default.swiper-button-next {
    background-image: none;
    color: #f1562b;
    padding: 0 !important;
    display: inline-block;
    width: auto; height: auto;
}

.is-swiper-button-default.arrow-top { top: 50%; margin-top: -10px; }

.is-swiper-button-default.swiper-button-disabled { opacity: .2; }

.is-swiper-button-default.arrow-ls { font-size: 50px; }
.is-swiper-button-default.arrow-ms { font-size: 30px; }
.is-swiper-button-default.arrow-xs { font-size: 20px; }

.is-swiper-button-default.swiper-button-prev { left: 10px; }
.is-swiper-button-default.swiper-button-next { right: 10px; }

.is-swiper-button-default.arrow-ms.swiper-button-prev { left: 20px; }
.is-swiper-button-default.arrow-ms.swiper-button-next { right: 20px; }
/* Isaudavel Icons */
.is-icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    background-color: transparent;
    width: 22px; height: 20px;
    margin-left: 10px;
}
.is-icon.is-icon-events  { background-image: url("/icons/icon_events.png"); }
.is-icon.is-icon-recipes { background-image: url("/icons/icon_recipes.png"); }
.is-icon.is-icon-companies { background-image: url("/icons/icon_companies.png"); }
.is-icon.is-icon-blog { background-image: url("/icons/icon_blog.png"); }
.is-icon.is-icon-contact { background-image: url("/icons/icon_contact.png"); }

/* Card With Background Pattern */
.card.card-pattern {
    background-image: url("/images/pattern-isaudavel-5-300.png");
    min-height: 350px;
}
/* Card Activities */
.card-activities {
    position: relative;
    min-height: 180px;
    max-height: 180px;
    padding: 0 !important
}
.card-activities .picture-circle.picture-circle-p {
    width: 60px; height: 60px;
}
.card-activities .card-body {
    padding-left: 50px;
    padding-right: 0;
}
.store-badge { margin: 0 auto; }
/* Default Isaudavel Title */

.is-title {
    border-left: 4px solid;
    border-bottom: 4px solid;
    display: inline-flex;
    align-items: center;
    width: auto;
    border-radius: 4px;
    padding: 15px 10px 15px 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem !important;
    position: relative;
}

.is-title-side {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.is-title.default { border-color: #fff; color: #fff; }
.is-title.primary { border-color: #6ec058; color: #6ec058; }
.is-title.secondary { border-color: #f1562b; color: #f1562b; }

/* Default Isaudavel Title For Activites Section */
.is-activities-title {
    transform: rotate(-90deg);
    background: #f1562b;
    position: absolute;
    top: 66px; left: -66px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px 7px 10px;
    letter-spacing: .2rem;
    text-align: center;
    font-weight: 300;
    width: 180px;
}

.is-activities-title small {
    font-size: 12px;
    display: block;
    color: inherit;
    font-weight: 700 !important;
}

.is-activities-title span { display: block; }

/* Isaudavel Box */
.is-box {
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 10px 30px;
    height: 160px;
}
/* Section */
.section.default {
    background-color: #fff;
}

/* button secondary */
.btn.btn-secondary { background-color: #f1562b !important; border-color: #f1562b !important; color: #fff; }

/* button outline */
.btn.btn-outline { background-color: transparent !important; border:2px solid #fff !important; color: #fff; }
